<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picoutsav.trail2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.picoutsav.trail2.lapitchat"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.picoutsav.trail2.namechange"
            android:parentActivityName="com.picoutsav.trail2.settingsactivity">

        </activity>
        <activity
            android:name="com.picoutsav.trail2.ChatActivity"
            android:parentActivityName="com.picoutsav.trail2.MainActivity"></activity>

        <service
            android:name="com.picoutsav.trail2.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.picoutsav.trail2.profileactivity">
            <intent-filter>
                <action android:name="com.example.trail2_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.picoutsav.trail2.usersactivity"
            android:parentActivityName="com.picoutsav.trail2.MainActivity" />
        <activity
            android:name="com.picoutsav.trail2.statusactivity"
            android:parentActivityName="com.picoutsav.trail2.settingsactivity" />
        <activity android:name="com.picoutsav.trail2.settingsactivity" />
        <activity android:name="com.picoutsav.trail2.loginactivity" />
        <activity android:name="com.picoutsav.trail2.startingactivity" />
        <activity android:name="com.picoutsav.trail2.registeractivity" />
        <activity android:name="com.picoutsav.trail2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>